
<app-navbar></app-navbar>
<section id="rent" class="rent">
<div class="container text-center" style="margin-top:15px">
  <h1 style="font-family: cursive;">Rent Car</h1>
  <nav>
    <a (click)="mostChecked()">MostCars</a>
    <a (click)="mazda()">Mazda</a>
    <a (click)="toyota()">Toyota</a>
    <a (click)="ford()">Ford</a>
    <a (click)="ford()">Ford</a>

    <div id="indicator"></div>
  </nav>
  </div>



  <div class="shell">
    <div class="container">
      <div style="width: 400px; margin-left: 300px; margin-top: 8px;" class="alert alert-danger" role="alert" *ngIf="showMassegeError">
        this car in Profile
      </div>
      <div  style="width: 400px; margin-left: 300px; margin-top: 8px;" class="alert alert-primary" role="alert" *ngIf="showMassegeSuccses">
        send sucssecfuly
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let car of mostWatchedArray">
          <div class="wsk-cp-product" >
            <div class="wsk-cp-img">
              <img [src]="car.img" />
            </div>
            <div class="wsk-cp-text">
              <div class="category" *ngIf="!car.isRent">
                <span [style.color]="'green'"  >not rent</span>
              </div>
              <div class="category" *ngIf="car.isRent">
                <span [style.color]="'red'"  >is rent</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p> Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">{{car.price | currency}} / day</span></div>
                <div class="wcf-right"><a  class="buy-btn" (click)="carViews(car)"  [routerLink]="['/date', car.serialNumber]"><i class="fa fa-shopping-basket"></i></a></div>
                <div class="wcf-right"><a  class="love-btn"  (click)="addToProfile(car);"><i class="fa fa-heart"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>
        <app-contact></app-contact>
