<app-navbar></app-navbar>
<section id="team" class="team">

  <div class="container" data-aos="fade-up">

    <header class="section-title">
      <h2>Auction</h2>
    </header>

  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let cars of auctions">
          <div class="wsk-cp-product" >
            <div class="wsk-cp-img">
              <img [src]="cars.img" />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>{{cars.manufacturer}} {{cars.model}}</h3>
              </div>
              <div class="description-prod">
                <p>model year : {{cars.yearOfManufacture}}</p>
                <p>engineCapacity : {{cars.engineCapacity}}</p>
                <p>fuelType : {{cars.fuelType}}</p>



              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">{{car.maxPrice | currency}}</span></div>
                <div class="wcf-right"><a class="buy-btn"   [routerLink]="['/auction', car.serialNumber]"><i class="fa fa-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
</div>

    </div>
  </div>
  </div>
</section>
<app-contact></app-contact>