<app-navbar></app-navbar>
<section id="auction" class="auction">

  <div class="container" data-aos="fade-up">

    <header class="section-title">
      <h2>Auction</h2>
      <p>Cars of Auction</p>
    </header>

  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let car of auctions">
          <div class="wsk-cp-product" >
            <div class="wsk-cp-img">
              <img [src]="car.carPhoto" />
            </div>
            <div class="wsk-cp-text">

              <div class="category" *ngIf="!car.isButtonVisible">
                <span [style.color]="'green'"  >Available</span>
              </div>
              <div class="category" *ngIf="car.isButtonVisible">
                <span [style.color]="'red'"  >Not Available</span>
              </div>
              <div class="title-product">
                <h3>{{car.carType}}</h3>
              </div>
              <div class="description-prod">
                <p>modelyear : {{car.carModel}}<br>
                   carKM: {{car.carKM}}<br>
                   minPrice: {{car.minPrice | currency}}

                </p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">{{car.maxPrice | currency}}</span></div>
                <div class="wcf-right"><a class="buy-btn"   [routerLink]="['/auction', car.serialNumber]"><i class="fa fa-gavel"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>

</section>
<app-contact></app-contact>
