
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Rent<span>Buy</span></a></h1>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLinkActive="nav-link scrollto active" routerLink="/home">Home</a></li>
          <li><a routerLinkActive="nav-link scrollto active" routerLink="/rentcars">RentACar</a></li>
          <li><a routerLinkActive="nav-link scrollto active" routerLink="/carsAction">AuctionCars</a></li>
          <li><a routerLinkActive="nav-link scrollto active" routerLink="/team">AboutUs</a></li>
          <li><a routerLinkActive="nav-link scrollto active" routerLink="/contact">ContactUs</a></li>
        </ul>
        <i class="fa fa-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
