
<app-navbar></app-navbar>
<section>
<div class="container">
  <div class="time">
    <div class="time-colon">
      <div class="time-text">
        <span class="num hour_num">{{days}}</span>
        <span class="text">day</span>
      </div>
      <span class="colon">:</span>
    </div>
    <div class="time-colon">
      <div class="time-text">
        <span class="num hour_num">{{hours}}</span>
        <span class="text">Hours</span>
      </div>
      <span class="colon">:</span>
    </div>
    <div class="time-colon">
      <div class="time-text">
        <span class="num min_num">{{minutes}}</span>
        <span class="text">Minutes</span>
      </div>
      <span class="colon">:</span>
    </div>
    <div class="time-colon">
      <div class="time-text">
        <span class="num sec_num">{{seconds}}</span>
        <span class="text">Seconds</span>
      </div>
    </div>
  </div>
</div>
</section>
<div id="booking" class="auction">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form" >
          <div class="booking-bg">
            <div class="form-header">
              <h2>max price: {{maxPrice | currency}}</h2>
              <h2>min price: {{minPrice | currency}}</h2>
              <h2>car Type: {{carType}}</h2>
            </div>
          </div>
             <form>
                 <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
                     The price you Entered has been not sent sucssecfuly
                 </div>
                 <div class="alert alert-primary" role="alert" *ngIf="showSuccssMessage">
                     The price you Entered has been sent sucssecfuly
                 </div>
                      <h3>{{bidValue}}</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <span class="form-label">MY PRICE</span>
                              <input placeholder="Enter the price" [(ngModel)]="priceAdd" name="price" class="form-control" type="text" >
                          </div>
                        </div>
                      </div>
                    <div>
                      <div   class="form-btn" >
                         <button   [disabled]="isButtonVisible" (click)="addPrice()"  class="submit-btn">Check availability</button>
                      </div>
                    
                    </div>
                    </form>
                    </div>
                 </div>
            </div>
       </div>
</div>

