<!-- <p>action works!</p>
<div *ngFor="let max of maxPriceArray">
    <h4>{{max.bidValue}}</h4>
<div>

{{days}} : {{hours}} : {{minutes}} : {{seconds}}
<div *ngFor="let ac of auctions">
    <h4>{{ac.maxPrice}}</h4>
    <h4>{{ac.minPrice}}</h4>
<div>
    <div class="form-group">

        <input [(ngModel)]="price" />
        <br />
    </div>
    <div>
    <button class="btn btn-secondary" [disabled]="!ac.isButtonVisible" (click)="clickToBuyDirectly()">clickToBuyDirectly</button>
<div *ngIf="isBuyDirectly">
    <label>enter the code</label>
    <input  [(ngModel)]="code" />
    <button class="btn btn-secondary" [disabled]="!ac.isButtonVisible"  (click)="clickOk(ac)">OK</button>
</div>
</div>

    <button class="btn btn-secondary" [disabled]="!ac.isButtonVisible" (click)="addPrice(ac)">Add</button>
    <div *ngIf="isBuyDirectly2">
        <label>enter the code</label>
        <input  [(ngModel)]="code" />
        <button class="btn btn-secondary" [disabled]="!ac.isButtonVisible"  (click)="clickOk(ac)">OK</button>
    </div>
</div>

<button class="btn btn-secondary"   (click)="carViews(ac)">views</button>

</div> -->
<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="icons">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>
    <div class="time">
      <div class="time-colon">
        <div class="time-text">
          <span class="num hour_num">{{hours}}</span>
          <span class="text">Hours</span>
        </div>
        <span class="colon">:</span>
      </div>
      <div class="time-colon">
        <div class="time-text">
          <span class="num min_num">{{minutes}}</span>
          <span class="text">Minutes</span>
        </div>
        <span class="colon">:</span>
      </div>
      <div class="time-colon">
        <div class="time-text">
          <span class="num sec_num">{{seconds}}</span>
          <span class="text">Seconds</span>
        </div>
        <span class="am_pm">AM</span>
      </div>
    </div>
  </div>

</section>
<section>
<div class="newsletter-subscribe" >
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Subscribe for our Newsletter</h2>
          <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
      </div>
      <form class="form-inline" method="post">
          <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
          <div style="margin-top: 3px;" class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
          <div style="margin-top: 3px;" class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>

      </form>
  </div>
</div>

</section>
