<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">RentBuy</span>
  </div>
    <ul class="nav-links">
      <li (click)="dashbordActive()">
        <a  routerLinkActive="active">
          <i class='fa fa-tachometer' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li (click)="auctionActive()">
        <a  routerLinkActive="active">
          <i class='fa fa-gavel' ></i>
          <span class="links_name">Auctions</span>
        </a>
      </li>
      <li (click)="rentActive()">
        <a  routerLinkActive="active">
          <i class='fa fa-car' ></i>
          <span class="links_name">Rents</span>
        </a>
      </li>

      <li (click)="carService()">
        <a  routerLinkActive="active">
          <i class='fa fa-gear' ></i>
          <span class="links_name">CarsService</span>
        </a>
      </li>
      <li (click)="usersActive()">
        <a  routerLinkActive="active">
          <i class='fa fa-users' ></i>
          <span class="links_name">Users</span>
        </a>
      </li>
      <li (click)="AllCars()">
        <a  routerLinkActive="active">
          <i class='fa fa-car' ></i>
          <span class="links_name">cars</span>
        </a>
      </li>
   
      <li class="log_out">
        <a  style="cursor: pointer;">
          <i class='fa fa-sign-out'></i>
          <span  class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>

  <section class="home-section">


    <div class="home-content" *ngIf="dashbord">
      <app-dashbord></app-dashbord>
    </div>

    <div class="home-content" *ngIf="users">
      <app-users></app-users>
    </div>

    <div class="home-content" *ngIf="auction">
    <app-admin-action></app-admin-action>
    </div>

    <div class="home-content" *ngIf="rents">
      <app-admin-rents></app-admin-rents>
      </div>
      <div class="home-content" *ngIf="service">
        <app-cars-service></app-cars-service>
        </div>
        <div class="home-content" *ngIf="cars">
          <app-allcars></app-allcars>
          </div>
  </section>

