<app-navbar></app-navbar>
<div class="container bootstrap snippets bootdey" style="margin-left: 0px;">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round" *ngFor="let user of user">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" >
              </a>
              <h1>{{user.username}}</h1>
              <p>{{user.email}}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li style="margin-left: 70px;"><a href="#editEmployeeModal" data-toggle="modal"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
          <button (click)="userService.logout()">LogOut</button>
      </div>
  </div>
  <div class="profile-info col-md-9">

  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let car of Profile">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img [src]="car.car.img" />
            </div>
            <div class="wsk-cp-text">
              <div class="category" *ngIf="!car.car.isRent">
                <span [style.color]="'green'"  >not rent</span>
              </div>
              <div class="category" *ngIf="car.car.isRent">
                <span [style.color]="'red'"  >is rent</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p> Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right">
                  <a  class="buy-btn" (click)="addToProfile(car);"><i class="fa fa-shopping-basket"></i></a>
                </div>
                <div class="wcf-right" >
                  <a  class="buy-btn" (click)="deleteCar(car.car);"><i class="fa fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
</div>
</div>

<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Employee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="alert alert-primary" role="alert" *ngIf="showSucessMessage">
          send sucssecfuly
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>email</label>
            <input type="text" name="email" [(ngModel)]="putUser.email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>username</label>
            <input type="text" name="username" [(ngModel)]="putUser.username" class="form-control" required>
          </div>
          <div class="form-group">
            <label>phone</label>
            <input type="text" name="phone" [(ngModel)]="putUser.phone" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" (click)="putProfile()" class="btn btn-info"  value="Save">
        </div>
      </form>
    </div>
  </div>
</div>
