<body>
  <section class="home-section">
        <div class="home-content">
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <div class="box-topic">USERS</div>
                <div class="number"></div>
              </div>
              <i class='fa fa-user' style="font-size: 36px; margin-left: 10px;"></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">CarsRent</div>
                <div class="number"></div>
              </div>
              <i class='fa fa-shopping-cart' style="font-size: 36px; margin-left: 12px;" ></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">CarsAction</div>
                <div class="number"></div>

              </div>
              <i class='fa fa-users' style="font-size: 36px; margin-left: 12px;" ></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">CarsService</div>
                <div class="number"></div>

              </div>
              <i class='fa fa-envelope'  style="font-size: 36px; margin-left: 12px;" ></i>
            </div>

            <div class="box">
              <div class="right-side">
                <div class="box-topic">caht</div>
                <div class="number"></div>

              </div>
              <i class='fa fa-envelope'  style="font-size: 36px; margin-left: 12px;" ></i>
            </div>


          </div>
          <app-users></app-users>


        </div>
      </section>


    </body>
