<app-navbar></app-navbar>

<section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-title">
        <h2>Our  team</h2>
      </header>

      <div class="row gy-4">

        <div  data-aos="fade-up" data-aos-delay="100" *ngFor="let te of team ">
          <div class="member">
            <div class="member-img">
              <img [src]="te.photo" class="img-fluid" alt="">
              <div class="social">
                <a href="{{te.twitter}}"><i class="fa fa-twitter"></i></a>
                <a href="{{te.facebook}}"><i class="fa fa-facebook"></i></a>
                <a href="{{te.insta}}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{te.name}}</h4>
              <span>{{te.job}}</span>
              <p>{{te.description}}</p>
            </div>
          </div>
        </div>
        

       

       


      </div>

    </div>

  </section>
