section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  .section-title h2::before, .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  .section-title h2::before {
    margin: 0 15px 10px 0;
  }
  .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  .section-title p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }

.team {
    width: 100%;
    background: url("/assets/img/hero-bg.png") top center no-repeat;
    background-size: cover;
    
  }
  .team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    width: 300px;
    height: 500px;
    margin-left: 180px;
    background: #fff;
    box-shadow: 15px 0 30px rgba(0, 50, 190, 50);
    transition: 0.9s;
  }
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  .team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    z-index: 1;
  }
  .team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .team .member .social a {
    transition: color 0.3s;
    color: #ffffff;
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
  }
  .team .member .social a:hover {
    color: rgba(255, 255, 255, 0.8);
    
  }
  .team .member .social i {
    font-size: 18px;
  }
  .team .member .social i:hover {
    transition: 0.3s;

    font-size: 22px;
  }
  .team .member .member-info {
    padding: 10px 15px 20px 15px;
  }
  .team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
  }
  .team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
  }
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
  }
  .team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  .team .member:hover .social {
    right: 8px;
    opacity: 1;
  }